@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);


:root {
  --border-radius: 25px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my css starts here */

body {
  font-family: "Poiret One"; 
  background-color:antiquewhite;
}

.weather-grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  border-radius: var(--border-radius);
  height: 300px;
  width: 600px;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);

.weatherIcon{
  flex: 1 100%;
  height: 60%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background: #FAFAFA;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
  
  i{
    padding-top: 30px;
  }
}

.weatherInfo{
  flex: 0 0 70%;
  height: 40%;
  background: #080705;
  border-bottom-left-radius: var(--border-radius);
  display: flex;
  align-items: center;
  color: white;
  
  .temperature{
    flex: 0 0 40%;
    width: 100%;
    font-size: 65px;
    display: flex;
    justify-content: space-around;

    span {
      width:fit-content
    }
  }
  
  .description{
    flex: 0 60%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    
    .weatherCondition{
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 100;
    }
    
    .place{
      font-size: 15px;
      text-transform: capitalize;
      
    }
  }
}

.date{
  flex: 0 0 30%;
  height: 40%;
  background: #70C1B3;
  border-bottom-right-radius: var(--border-radius);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 800;
}

  .input-form {
        margin-top: 0.5em;
        margin-left: 20%;
  }

}